@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	scroll-behavior: smooth;
}

.regis {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: space-between;
}

.img {
	width: 40%;
	height: 100%;
	background-size: cover;
	background-image: url(../img/pngtree-plan-of-football-field-image_935020.jpg);
}

.sm-regis {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 50%;
	height: 100%;
}

.yel {
	margin-top: 3pc;
	background-color: rgb(64, 224, 91);
	width: 80%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 3pc;
}

/* img */

.wrapper {
	width: 450px;
	height: 235px;
	padding: 30px;
	background: #fff;
	border-radius: 9px;
}

.wrapper .upload-box {
	height: 225px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 5px;
	border: 2px dashed #afafaf;
}

.upload-box p {
	font-size: 1.06rem;
	margin-top: 20px;
}

.upload-box img {
	width: 121.5px;
	height: 112px;
}

.wrapper.active .upload-box {
	border: none;
}

.wrapper.active .upload-box p {
	display: none;
}

.wrapper.active .upload-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

/* img */

.btn {
	width: 180px;
	height: 60px;
	cursor: pointer;
	background: transparent;
	border: 1px solid white;
	outline: none;
	transition: 1s ease-in-out;
	position: relative;
}

svg {
	position: absolute;
	left: 0;
	top: 0;
	fill: none;
	stroke: greenyellow;
	stroke-dasharray: 150 480;
	stroke-dashoffset: 150;
	transition: 1s ease-in-out;
}

.btn:hover {
	transition: 1.9s ease-in-out;
	background: rgb(72, 251, 72);
	border: 1px solid rgb(72, 251, 72);
}

.btn:hover svg {
	stroke-dashoffset: -480;
}

.btn span {
	color: white;
	font-size: 18px;
	font-weight: 100;
}

/* button */

.lago {
	color: rgb(72, 251, 72);
	font-weight: 300;
	letter-spacing: 1.1px;
	font-family: 'Cookie';
	font-size: 60px;
}

.lago span {
	color: yellow;
	font-family: 'Cookie';
}

.inputt form {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 20px;
	height: 80%;
	margin-top: 2pc;
}

.inputt form span {
	color: white;
	padding-top: 0.6pc;
	font-size: 20px;
	letter-spacing: 1.5px;
}

.inputt form div {
	width: 21pc;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inputt form label {
	color: white;
}

.inputt form input {
	width: 12pc;
	height: 2.5pc;
	padding-left: 2pc;
	padding-right: 2pc;
	font-size: 15px;
	outline: none;
	border: white 1px solid;
	border-radius: 8px;
	color: white;
	background: transparent;
}

.inputt form input::placeholder {
	color: white;
}
